<div class="navbar">
  <div class="navbar-left d-flex">
    <%= link_to "moni", root_path, class: "navbar-link" %>
  </div>
  <div class="navbar-right d-flex">
    <% if policy(Product).create? %>
      <%= link_to "new product", new_product_path, class: "navbar-link" %>
    <% end %>
    <%= link_to "browse", products_path, class: "navbar-link" %>
    <%= link_to "cart", "/cart", class: "navbar-link" %>
    <% if current_user %>
      <%= link_to "log out", destroy_user_session_path, method: :delete, class: "navbar-link" %>
    <% else %>
      <%= link_to "log in", new_user_session_path, class: "navbar-link" %>
    <% end %>
  </div>
</div>
