<div class="navbar">
  <div class="navbar-left d-flex">
    <%= link_to "MONI", root_path, class: "navbar-link" %>
  </div>
  <div class="navbar-right d-flex">
    <% if policy(Product).create? %>
      <%= link_to "NEW PRODUCT", new_product_path, class: "navbar-link" %>
    <% end %>
    <%= link_to "BROWSE", products_path, class: "navbar-link" %>
    <%= link_to "ORDERS", orders_path, class: "navbar-link" %>
    <%= link_to "CART (#{@cart.cart_items.count})", "/cart", class: "navbar-link" %>
  </div>
</div>
