<div class="container">
  <h4>Your Cart </h4>
  <% if @cart.cart_items == [] %>
    <p>Your cart is empty <%= link_to "Keep Shopping!", products_path %></p>
  <% else %>
    <div class="row">
      <div class="col-7">
        <% @cart.cart_items.each do |c| %>
          <p><%= c.id %></p>
          <p><%= c.product.name %></p>
          <p><%= c.product.price %></p>
          <hr>
        <% end %>
      </div>
      <div class="col-5">
        <p> <%= link_to "Keep Shopping", products_path %> </p>
        <%= simple_form_for(@order) do |f| %>
        <%= f.submit "Proceed to Checkout" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
