<div class="container-placeholder">
  <h4>Your Cart </h4>
  <% if @cart.cart_items.blank? %>
    <p>Your cart is empty <%= link_to "Keep Shopping!", products_path %></p>
  <% else %>
    <div class="row-placeholder">
      <div class="col-12">
        <div class="row-placeholder">
          <div class="col-3"><b> Product </b></div>
          <div class="col-3"><b> Price </b></div>
          <div class="col-3"><b> Quantity </b></div>
          <div class="col-3"><b> Total </b></div>
        </div>
        <% @cart.cart_items.each do |c| %>
          <div class="row-placeholder">
            <div class="col-3">
              <p><%= c.product.name %></p>
            </div>
            <div class="col-3">
              <p><%= c.price %></p>
            </div>
            <div class="col-3 row-placeholder">
              <%= link_to "-", cart_cart_item_path(@cart, c), method: :delete %>
              <p><%= c.quantity %></p>
              <%= link_to "+", cart_cart_item_path(@cart, c), method: :delete %>
            </div>
            <div class="col-3">
              <p><%= c.price * c.quantity %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row-placeholder">
      <div class="col-12">
        <div class="row-placeholder">
          <div class="col-3"></div>
          <div class="col-3"></div>
          <div class="col-3"></div>
          <div class="col-3">
            <h5>Total</h5>
            <p><b><%= @total %></b></p>
            <%= simple_form_for(@order) do |f| %>
              <%= f.submit "Proceed to Checkout", class: "button wide-button primary-button" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
