<div class="container-placeholder">
  <%= simple_form_for(@product) do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :stock %>
    <%= f.input :made_to_order? %>
    <%= f.input :price %>
    <%= f.file_field :photo %>
    <%= f.submit %>
  <% end %>
</div>
