<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-7">
    </div>
    <div class="col-sm-12 col-md-5">
      <p><%= @product.name %></p>
      <p><%= @product.description %></p>
      <p><%= @product.price %></p>

      <hr>

      <%= link_to "/add_to_cart/#{@product.id}" do %>
      <button class="btn btn-primary">Add to Cart</button>
      <% end %>

      <br>

      <%= link_to "/buy/#{@product.id}" do %>
      <button class="btn btn-primary">Buy</button>
      <% end %>


    </div>
  </div>
</div>
